// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// This file contains layout related mixins. 
// =============================================================================

// Please use SASSDOC
// - http://sassdoc.com/annotations/
// -----------------------------------------------------------------------------

/// This mixin creates a background
/// @param {number} $backgroundColor [#000] - The color of the background
/// @output Returns a background
@mixin make-background($backgroundColor: #000) {
	background: none repeat scroll 0 0 $backgroundColor;
}


/// This mixin creates a border
/// @param {number} $borderWidth [$border_width] - The size of the border
/// @param {color} $borderColor [#000] - The color of the border
/// @output Returns a solid border
@mixin make-border($borderWidth: $border_width, $borderColor: #000) {
	@if $site-enable-bordered and $borderWidth != 0 {
		border: $borderWidth solid $borderColor;
	}
}


/// This mixin creates a border radius
/// @param {color} $borderRadius [$border_radius] - The radius of the corner
/// @output Returns rounded corners 
@mixin make-border-radius($borderRadius: $border_radius) {
	@if $site-enable-rounded and $borderRadius != 0 {
		border-radius: $borderRadius;
	}
}


/// This mixin removes any border radius
@mixin remove-border-radius() {
	border-radius: 0;
}


/// Creates a navigation based on a unordered list
/// The navigation items will be separated by a "|"
/// @param {number} $itemPadding - The size of the padding left and right
/// @param {color} $dividerColor [$text_color] - The color of the divider
@mixin make-delimited-nav-list($itemPadding: $spacer-x / 2, $dividerColor: $text_color) {
	// This removes the vertical behaviour of the list
	float: left;

	// Set the color of the divider
	color: $dividerColor;
	
	// Append a divider between the entries ...
	&:after {
		content: "|";

		@if $itemPadding != 0 {
			padding-left: $itemPadding;
			padding-right: $itemPadding;
		}
	}

	// ... But NOT for the last entry
	&:last-child:after {
		content: none;
		padding-right: 0px;
	}
}
