// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// This file contains Sass mixins related to Font Awesome
// =============================================================================

// Please use SASSDOC
// - http://sassdoc.com/annotations/
// -----------------------------------------------------------------------------

/// This mixin creates a icon with an optional left or right padding
/// @param {string} $position [before] - The position of the icon: before or after
/// @param {string} $icon [$fa-var-ban] - The icon
/// @param {string} $fontSize [$font-size-base] - The size of the icon
/// @param {string} $paddingLeft [0] - Padding left
/// @param {string} $paddingRight [0] - Padding right
/// @output Returns the CSS pattern for a icon 
@mixin make-icon($position: before, $icon: $fa-var-ban, $fontSize: $font-size-base, $paddingLeft: 0, $paddingRight: 0) {
	&:#{$position} {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: none;
		content: $icon;
		
		@if $paddingLeft != 0 {
			padding-left: $paddingLeft;
		}
		
		@if $paddingRight != 0 {
			padding-right: $paddingRight;
		}
		
		@if $fontSize != $font-size-base {
			font-size: $fontSize;
		}
	}
}
