// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Helpers for development 
// =============================================================================

// Please use SASSDOC
// - http://sassdoc.com/annotations/
// -----------------------------------------------------------------------------

/// This mixin displays the actual viewport in the left top corner
/// @author Martin Schaible
/// @output Displays the actual viewport in the left top corner
@mixin show-bootstrap-viewports() {
	$background-color: #222;
	
	body:before {
		content: "Extra small, xs, 0";
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999999;
		background-color: $background-color;
		color: #fff;
		font-size: $font-size-xs;
		padding: 0 0.25rem;
	}

	@include media-breakpoint-up(sm) {
		body:before {
			content: "Small, sm, 544px";
			background-color: lighten($background-color, 10%);
		}
	}

	@include media-breakpoint-up(md) {
		body:before {
			content: "Medium, md, 768px";
			background-color: lighten($background-color, 15%);
		}
	}

	@include media-breakpoint-up(lg) {
		body:before {
			content: "Large, lg, 992px";
			background-color: lighten($background-color, 20%);
		}
	}

	@include media-breakpoint-up(xl) {
		body:before {
			content: "Extra Large, xl, 1200px";
			background-color: lighten($background-color, 25%);
		}
	}
}
