// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins. 
// =============================================================================

// Please use SASSDOC
// - http://sassdoc.com/annotations/
// -----------------------------------------------------------------------------


/// This mixin creates the columns and the column spanning
/// @param {number} $listColumnRatio - Map containing the column ratio per media breakpoint
/// @param {list} $listColumnClasses - List of names for the columns
/// @param {boolean} $columnsSwap - Swap the columns
/// @output Returns a complete and responsive grid system
@mixin make-columns($listColumnRatio, $listColumnNames, $columnsSwap: false) {
	// Check for valid arguments 
	@if length($listColumnNames) < 2 {
		@error "Oopsy: Specify more than one column. Check argument <$listColumnNames>";
	}

	@if length($listColumnNames) > 2 and $columnsSwap {
		@error "Oopsy: Swapping the columns is only supported for 2 rows";
	}

	// Loop the argument $listColumnNames, which is a list of the columns names
	@for $thisColumnCounter from 1 through length($listColumnNames) {
		// Get the column name 
		$thisColumnName: nth($listColumnNames, $thisColumnCounter);

		// Create the outer CSS for the column
		&#{$thisColumnName} {
			// Make the column
			@include make-col(1);

			// Make the column spanning, loop over the media breakpoints
			@each $mediaBreakpoint, $numOfSpans in $listColumnRatio {
				@if length($numOfSpans) < 2 {
					@error "Oopsy: Specify more than one column. Check argument <$listColumnRatio>";
				}

				// Get the number of columns to span from the list
				$thisNumOfSpans: nth($numOfSpans, $thisColumnCounter);

				// Compare the length of the lists
				@if length($listColumnNames) != length($numOfSpans) {
					@error "Oopsy: The number of row must match the number of column names. Check arguments <$listColumnClasses> and <$listColumnRatio>";
				}

				// Create a media breakpoint
				@include media-breakpoint-up($mediaBreakpoint) {
					// Create the column span
					@include make-col-span($thisNumOfSpans);

					// Swap the columns
					@if $columnsSwap and $grid-columns != $thisNumOfSpans {
						// First column swaps to the right
						@if $thisColumnCounter == 1 {
							@include make-col-push($grid-columns - $thisNumOfSpans);
						}

						// Second column swaps to the left
						@else {
							@include make-col-pull($grid-columns - $thisNumOfSpans);
						}
					}
				}
			}
		}
	}
}

/// Mixin taken from Bootstrap mixins/_grid.scss. This mixin is actually no more
/// available. 
@mixin make-col-span($size, $columns: $grid-columns) {
 	@if $enable-flex {
    	flex: 0 0 percentage($size / $columns);
  	}
  	@else {
    	width: percentage($size / $columns);
  	}
} 
