<head>
	<meta charset="utf-8">
	<!-- Mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces</title>

	<!-- Prefetch DNS for external assets -->
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<!-- Style-Sheets - Bootstrap Theme/Project specific -->
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/ico/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/images/ico/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/ico/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/images/ico/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/ico/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/images/ico/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/ico/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/images/ico/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/ico/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="assets/images/ico/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/images/ico/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="assets/images/ico/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="assets/images/ico/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="assets/images/ico/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/images/ico/manifest.json">
	<link rel="mask-icon" href="assets/images/ico/safari-pinned-tab.svg" color="#fd8e16">
	<link rel="shortcut icon" href="assets/images/ico/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="assets/images/ico/mstile-144x144.png">
	<meta name="msapplication-config" content="assets/images/ico/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@martin_schaible">
	<meta name="twitter:domain" content="">
	<meta name="twitter:creator" content="Martin Schaible">
	<meta name="twitter:title" content="Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces">
	<meta name="twitter:description" content="A ready-to-use Skeleton for Bootstap 4 using modern techniques like ITCSS, BEM and CSS Namespaces">
	<meta name="twitter:image:src" content="/assets/images/skeleton.png">
</head>
