<body class="c-page">
	<!-- Header -->
	<header class="o-region o-region-header c-region c-region-header" role="banner">
		<div class="o-grid-header">
			<!-- Brand Logo -->
			<div class="o-grid-header__col-branding">
				<div class="c-brand-logo"></div>
			</div>
			<div class="o-grid-header__col-banner">
			</div>
			<!-- Navigation and search -->
			<div class="o-grid-header__col-navigation">
				<div class="o-header-wrapper-navigation">
					<ul class="u-nav-list" role="tablist">
						<li class="u-nav-list__item" role="presentation"><a class="u-link-inverted" href="#">Top Nav 1</a></li>
						<li class="u-nav-list__item" role="presentation"><a class="u-link-inverted" href="#">Top Nav 2</a></li>
						<li class="u-nav-list__item" role="presentation"><a class="u-link-inverted" href="#">Top Nav 3</a></li>
						<li class="u-nav-list__item" role="presentation"><a class="u-link-inverted" href="#">Top Nav 4</a></li>
					</ul>
				</div>
				<div class="o-header-wrapper-navigation">
					<form role="form" class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="searchForm">Please enter a search term</label>
							<input class="form-control form-control-sm" type="search" id="searchForm" name="keywords" title="Please enter a search term" placeholder="Search...">
						</div>
						<button type="submit" class="btn btn-primary btn-sm">Search</button>
					</form>
				</div>
			</div>
		</div>
	</header>
