	<div class="o-region o-region-main c-region c-region-main">
		<div class="o-grid-main">
			<!-- Content -->
			<main class="o-grid-main__col-content" role="main">
				<p>Die Website eines Kunden wurde vor etwa zwei Monaten gehackt und er bemerkte dies nicht. Nun stellte sich heraus, dass meine Datensicherung zuwenig Generationen der Dateien sichert und ich die Daten nicht wieder herstellen konnte.</p>
			</main>
			<!-- Sidebar -->
			<aside class="o-grid-main__col-sidebar" role="complementary">Sidebar
			</aside>
		</div>
	</div>
