	<!-- Footer -->
	<footer class="o-region o-region-footer c-region c-region-footer" role="contentinfo">
		<div class="o-grid-footer">
			<!-- Navigation -->
			<div class="o-grid-footer__col-navigation">
				<p>&#169; 2015 by Skeleton Ltd.</p>
				<ul class="u-nav-list" role="tablist">
					<li class="u-nav-list__item" role="presentation"><a class="u-link-inverted" href="#">Footer Nav 1</a></li>
					<li class="u-nav-list__item" role="presentation"><a class="u-link-inverted" href="#">Footer Nav 2</a></li>
					<li class="u-nav-list__item" role="presentation"><a class="u-link-inverted" href="#">Footer Nav 3</a></li>
				</ul>
			</div>
			<div class="o-grid-footer__col-content">
				<blockquote class="blockquote">
					<p class="m-b-0">Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning.</p>
					<footer class="blockquote-footer">Albert Einstein</footer>
				</blockquote>
			</div>
			<!-- Social media -->
			<div class="o-grid-footer__col-social">hui
			</div>
		</div>
	</footer>
	<a href="#0" class="u-scroll-top" aria-hidden="true" title="Scroll to top">Top</a>
	<!-- jQuery -->
	<script type="text/javascript" src="http://cdn.netfusion.local/assets/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript" src="assets/js/scroll-top.js"></script>
	<!-- jQuery Plugins -->
