	<!-- Navigation -->
	<div class="o-region o-region-navigation c-region c-region-navigation">
		<nav class="navbar navbar-dark o-navbar c-navbar" role="navigation">
			<!-- Toggle Button -->
			<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar-collapse-target">&#9776;</button>
			<div class="collapse navbar-toggleable-sm" id="navbar-collapse-target">
				<ul class="nav navbar-nav" role="menubar">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Homepage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="sb-left.html">Left Sidebar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="sb-right.html">Right Sidebar</a>
					</li>
					<li class="nav-item dropdown">
						<a id="dLabel" data-target="#" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="dLabel">
							<a class="dropdown-item" href="#">Something else</a>
							<a class="dropdown-item" href="#">Something else</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
