// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
//
// Some of the variables will be transfered to the Bootstrap Variables file.
// -> This file is the only place we apply settings and variables
//
// To use the default values of a settings for Bootstrap, the variable can be
// safely remarked or deleted. 
// -----------------------------------------------------------------------------
//
// Please use BEM for naming variables as much as possible:
//
// $block-name_modifier-name
// $block-name__element-name
// $block-name__element-name_modifier-name
// $block-name__element-name_modifier-name_modifier_value
//
// block-name — a block name. The field is required because only a block exists as an independent BEM entity
// element-name — an element name
// modifier-name — a modifier name
// modifier_value — a modifier value
//
// -> Naming conventions: https://en.bem.info/method/naming-convention/
// =============================================================================


// 1. Settings -> Global variables, config switches
// =============================================================================

// Path to the assets
$site-path-assets:						'assets';
$site-path-images:						'../images';

$site-enable-alternate-theme:			false;


// 1.1. Layout specific
// -----------------------------------------------------------------------------

// Full width layout
// -> Switching this has a major impact for the layout.
// Reference: http://v4-alpha.getbootstrap.com/layout/overview/
$site-enable-fluid:						false;

// Enable flex
// This controls also the import of the Bootstrap module
// -> Goes to Bootstrap Variables
$site-enable-flex:						false;		// Bootstrap default: false

// All containers and a lot of containers can have rounded corners:
// Navbar
// Forms
// ----
// -> Goes to Bootstrap Variables
// Controls the Bootstrap variable "$border_radius"
// -> Use the mixin border-radius($border_radius) to create a rounded corners.
//    The mixin checks this variable.
$site-enable-rounded:					true;		// Bootstrap default: true

// All containers and a lot of other elements can have a border
$site-enable-bordered:					false;

// -> Goes to Bootstrap Variables
$site-enable-gradients:					false;		// Bootstrap default: false (Not yet used)

// -> Goes to Bootstrap Variables
$site-enable-transitions:				false;		// Bootstrap default: false

// -> Goes to Bootstrap Variables
$site-enable-hover-media-query:			false;		// Bootstrap default: false

// 1.2. Select Bootstrap modules
// -----------------------------------------------------------------------------
// -> This is an minimal low carb configuration
// -> Bootstrap gets fast very fat, if no needed modules are imported 

// Import the print classes
// Bootstrap uses the variable '$enable-print-styles' to do almost the same
$site-bs-import-print:					true;

// Inline and block code styles
$site-bs-import-code:					true;
// We are using the mixins to create grids.
// Bootstrap uses the variable '$enable-grid-classes' to do almost the same
// -> No need for these classes, saves 15 KBytes
$site-bs-import-grid:					false;
// No need for old fashioned tables, saves 3 KBytes
$site-bs-import-tables:					false;

// Forms and buttons are always needed
$site-bs-import-forms:					true;
$site-bs-import-buttons:				true;
	
// Objects
// Reference: http://v4-alpha.getbootstrap.com/components
$site-bs-import-animation:				true;
$site-bs-import-dropdown:				true;
$site-bs-import-button-group:			false;
$site-bs-import-input-group:			false;
$site-bs-import-custom-forms:			false;
$site-bs-import-nav:					true;
$site-bs-import-navbar:					true;
$site-bs-import-card:					false;
$site-bs-import-breadcrumb:				false;
$site-bs-import-pagination:				false;
$site-bs-import-tags:					false;
$site-bs-import-jumbotron:				false;
$site-bs-import-alert:					false;
$site-bs-import-progress:				false;
$site-bs-import-media:					false;
$site-bs-import-list-group:				false;
$site-bs-import-responsive-embed:		false;
$site-bs-import-close:					false;

// Objects with JavaScript
$site-bs-import-modal:					false;
$site-bs-import-tooltip:				false;
$site-bs-import-popover:				false;
$site-bs-import-carousel:				false;

// Trumps: Utility classes
$site-bs-import-utilities-background:	true;
$site-bs-import-utilities-spacing:		false;
$site-bs-import-utilities-text:			false;


// 1.3. Select Font Awesome modules
// -----------------------------------------------------------------------------
// -> Each these modules are around 400 to 900 Bytes
$site-fa-import-larger:					false;
$site-fa-import-fixed-width:			false;
$site-fa-import-bordered-pulled:		false;
$site-fa-import-animated:				false;
$site-fa-import-rotated-flipped:		false;
$site-fa-import-stacked:				false;
// This is a big one: 44,5 KBytes. A class for each icon will be created.
// A class will only be needed, if an icon is used in a <i>-tag. 
// -> Create a class by yourself for each icon you use.
//    Copy the code of an icon from the file vendors/font-awesome/scss/_icons.scss
$site-fa-import-icons:					false;


// 1.4. Development mode
// -----------------------------------------------------------------------------
// -> Display the viewports
$dev-show-bootstrap-viewports:			true;


// 2. Elements
// =============================================================================

// Fonts from Google. Not happy with this font? Check out this list:
// -> http://www.bestwebfonts.com/
$fonts-web:							'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:500';


// Regular font family
// -> Goes to Bootstrap Variables
$fonts-sans-serif-stack:			"Open Sans",
									-apple-system,
									BlinkMacSystemFont,
									"Segoe UI",
									"Oxygen",
									"Cantarell",
									"Fira Sans",
									"Helvetica Neue",
									Arial,
									sans-serif;

// Serif font family
// -> Goes to Bootstrap Variables
$fonts-serif-stack:					Georgia,
									"Times New Roman",
									Times,
									serif;

// Monospace (Code) font family
// -> Goes to Bootstrap Variables
$fonts-monospace-stack:				Menlo,
									Monaco,
									Consolas,
									"Liberation Mono",
									"Courier New",
									monospace;

// Headings font family
// If not set, it inherits $elements-fonts-text-stack
// -> Goes to Bootstrap Variables
$fonts-headings-stack:				Ubuntu,
									"Helvetica Neue Light",
									"Helvetica Neue",
									"Helvetica",
									"Arial",
									sans-serif;


// Depending on the choosen fonts in $elements-fonts-sans-serif-stack, the default
// font sizes might not fit anymore. 
// -> Goes to Bootstrap Variables.
$font_size-base:					0.875rem;	// Bootstrap default: 1rem
$font_size-large:					1rem;		// Bootstrap default: 1.25rem
$font_size-small:					0.75rem;	// Bootstrap default: 0.875rem
$font_size-extrasmall:				0.5rem;		// Bootstrap default: 0.75rem


// 2.1. Generic
// -----------------------------------------------------------------------------
// -> elements/_elements.bootstrap.scss

// ----
// Bootstrap uses a global variable called "$brand-primary".
// This variable sets the colors for several items:
//
// $link-color
// $component-active-bg
// $btn-primary-bg
// $btn-primary-border
// $pagination-active-bg
// $pagination-active-border
// $label-primary-bg
// $progress-bar-bg

// We don't use "$brand-primary". We are setting individual variables for these
// items to stay flexible as much as possible.
// ----

// Set of base colors
// -> Goes to Bootstrap Variables (Not sure about this)
$color-primary:						#fd8e16;	// Orange
$color-secondary:					#0095dd;	// Light blue
$color-tertiary:					#0095dd;	// Light blue


// Set of gray colors
// -> Goes to Bootstrap Variables. Use Bootstraps defaults: Remove variable
$color-gray:						#ccc;		// Bootstrap default: #373a3c
$color-gray-dark:					#f9f9f9;	// Bootstrap default: #373a3c
$color-gray-light:					#818a91;	// Bootstrap default: #818a91
$color-gray-lighter:				#eceeef;	// Bootstrap default: #eceeef
$color-gray-lightest:				#f7f7f9;	// Bootstrap default: #f7f7f9


// The width of the gutter of the grids.
// Changing the gutter width may harm the layout.
// -> Goes to Bootstrap Variables.
// 2.5rem (40px)
// 3.125rem (50px)
$grid-gutter_width:					2.5rem;		// Bootstrap default: 1.875rem (30px)


// Spacing
// The gutter width is the base for spacing.
// Usually a spacer will be used to set margins and paddings.
// To have more control, we use our own additional variables
// -> Bootstrap has the variable "$spacer" (1rem), which can be used too.
$spacer-base:						$grid-gutter_width;
$spacer-medium:						$grid-gutter_width / 2;
$spacer-small:						0.85rem; 	// 1/3 exact: 0.8333


// Global background color
// -> Goes to Bootstrap Variables
$body-bg_color:						$color-gray-dark;


// Global text color
// -> Goes to Bootstrap Variables
$body-text_color:					#444;

// Global Border
// Use px or rem, eg 1px, 0.3rem.
// -> Goes to Bootstrap Variables.
$border_radius:						0.25rem;	// Bootstrap default: 0.25rem

// Use px or rem, eg 1px, 0.2rem
// -> Goes to Bootstrap Variables.
$border_width:						1px;		// Bootstrap default: 1px

// The headings, Make it smaller
// -> Goes to Bootstrap Variables
$heading1-font_size:				2rem;		// Bootstrap default: 2.5rem
$heading2-font_size:				1.75rem;	// Bootstrap default: 2rem
$heading3-font_size:				1.5rem;		// Bootstrap default: 1.75rem
$heading4-font_size:				1.25rem;	// Bootstrap default: 1.5rem
$heading5-font_size:				1rem;		// Bootstrap default: 1.25rem
$heading6-font_size:				1rem;		// Bootstrap default: 1rem

// If the spacing is too wide, make it smaller
// -> Remark/delete variable for default value
$heading-text_spacing:				-0.03rem;

// The links
// -> Goes to Bootstrap Variables
// -> Remark/delete variable for default value
$link-text_color:					$color-primary;	// Bootstrap default: $brand-primary
$link-text_color-hover:				$color-primary;	// Bootstrap default: none
$link-text_decoration:				none;			// Bootstrap default: darken($link-color, 15%)
$link-text_decoration-hover:		underline;		// Bootstrap default: underline


// 3. Objects -> Cosmetic-free design patterns
// =============================================================================

// 3.1. Grid and Columns
// -----------------------------------------------------------------------------
// -> objects/_objects.regions-grid.scss

// Three columns for the region "header"
// Logo | Content | Naviation
$o-region-header-column-ratio: (
	// Extra small screen, Phones
	xs: 12 12 12,
	// Small screen, Phones
	sm: 12 12 12,
	// Medium screen, Tablets
	md: 2 3 7,
	// Large screen, Desktops
	lg: 2 5 5,
	// Extra large screen, wide Desktops
	xl: 2 5 5
);

// Two columns for the region "main"
// Content | Sidebar
$o-region-main-column-ratio: (
	// Extra small screen, Phones
	xs: 12 12,
	// Small screen, Phones
	sm: 12 12,
	// Medium screen, Tablets
	md: 8 4,
	// Large screen, Desktops
	lg: 9 3,
	// Extra large screen, wide Desktops
	xl: 9 3
);

// Three columns for the region "footer"
// Navigation | Content | Social
$o-region-footer-column-ratio: (
	// Extra small screen, Phones
	xs: 12 12 12,
	// Small screen, Phones
	sm: 12 12 12,
	// Medium screen, Tablets
	md: 4 4 4,
	// Large screen, Desktops
	lg: 4 4 4,
	// Extra large screen, wide Desktops
	xl: 4 4 4
);

// 3.2. Main navigation
// -----------------------------------------------------------------------------
// -> objects/_objects.region.navigation.scss
// The navigation sticks on the top browser border
$o-navbar-is-sticky:				true;

// Location of the navigation: Left or right
$o-navbar-is-right:					true;

// Padding of a navbar, which is an nav-tag
// -> Goes to Bootstrap Variables
$o-navbar_padding-x:				1rem;			// Bootstrap default: $spacer (1rem)
$o-navbar_padding-y:				1rem / 2;		// Bootstrap default: $spacer / 2

// Border radius of the navbar.
// -> Only used if the region "navigation" has no borders left and right
// -> Goes to Bootstrap Variables
$o-navbar-border_radius:			$border_radius;	// Bootstrap default: $border_radius

// 4. Components -> Designed components, chunks of UI.
// =============================================================================

// The background image for the theme  
// -> No image: Remove variable or set it to 'none'
$c-page-bg_image:					none;

// The border color of the regions
// -> Only supported, if the layout is not fluid
// -> No border: Remove variable or set it to 'none'
$c-regions-border_color:			$color-gray;

// Path and filename of the logo
// -> No image: Remove variable or set it to 'none'
$c-region-header-logo-url:			$site-path-images + '/skeleton62x64.png';

// The background colors of the "regions"
$c-region-header-bg_color:			#fff;
$c-region-navigation-bg_color:		$color-gray;	// The background color of the navigation bar
$c-region-main-bg_color:			#fff;
$c-region-footer-bg_color:			#fff;


// 4.1. Main navigation
// -----------------------------------------------------------------------------
// -> components/_components.region.navigation.scss

// Instead of a plain background color, a gradient can be applied.
// This is the upper color and '$c-region-navigation-bg_color' is the lower color.
// -> No gradient: Remove variable or set it to 'none'
$c-navbar-bg_color-gradient:		lighten($c-region-navigation-bg_color, 10%);

// The color of the navigation items
$c-navbar-text_color:				#222;


// 4.2. Main navigation - Dropdown menu
// -----------------------------------------------------------------------------
// -> components/_components.region.navigation.dropdown.scss


// 5.0. Utilities
// =============================================================================
// -> components/_components.utilities.scss

// A link needs more contrast for accessibilty by inverting the color on hover
// -> Resulting class name: '.u-link-inverted'
$u-link-inverted-bg_color-hover:	$link-text_color;
$u-link-inverted-text_color-hover:	#fff;

// This padding gives a bit distance between the hover color and the text.
// -> No padding: Remove variable or set it to '0rem'
$u-link-inverted-padding:			0.1rem;


// 5.1. "Page Up"-button on the bottom right side of the page 
// -----------------------------------------------------------------------------
// -> components/_components.scroll-top.scss

$u-scroll-top-bg_color:					rgba(lighten(#000, 10%), 0.60);
$u-scroll-top-border_color:				darken($u-scroll-top-bg_color, 15%);

// Transition if the button gets visible
// -> No transition: Leave it empty
$u-scroll-top_fadein-transition:		opacity 0.5s ease-in;
// Transition before the button gets invisible
// -> No transition: Leave it empty
$u-scroll-top_fadeout-transition:		opacity 0.5s ease-in;
// Transistion hover event
// -> No transition: Leave it empty
$u-scroll-top-hover_transition:			all 0.3s linear 0s;
$u-scroll-top-hover-bg_color:			darken($u-scroll-top-bg_color, 7%);

// 6. Trumps -> Helpers and overrides
// =============================================================================
