// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Override Bootstrap variables here
// =============================================================================

// Colors
// -----------------------------------------------------------------------------
// -> Grayscale and brand colors for use across Bootstrap.
@if variable-exists(color-gray)				{$gray:				$color-gray;}
@if variable-exists(color-gray-dark)		{$gray-dark:		$color-gray-dark;}
@if variable-exists(color-gray-light)		{$gray-light:		$color-gray-light;}
@if variable-exists(color-gray-lighter)		{$gray-lighter:		$color-gray-lighter;}
@if variable-exists(color-gray-lightest)	{$gray-lightest:	$color-gray-lightest;}


// Options
// -----------------------------------------------------------------------------
// -> Quickly modify global styling by enabling or disabling optional features.
@if variable-exists(site-enable-flex)				{$enable-flex:				$site-enable-flex;}
@if variable-exists(site-enable-rounded)			{$enable-rounded:			$site-enable-rounded;}
@if variable-exists(site-enable-shadows)			{$enable-shadows:			$site-enable-shadows;}
@if variable-exists(site-enable-gradients)			{$enable-gradients:			$site-enable-gradients;}
@if variable-exists(site-enable-transitions)		{$enable-transitions:		$site-enable-transitions;}
@if variable-exists(site-enable-hover-media-query)	{$enable-hover-media-query:	$site-enable-hover-media-query;}


// Spacing
// -----------------------------------------------------------------------------
// -> Control the default styling of most Bootstrap elements by modifying these
//    variables. Mostly focused on spacing.
@if variable-exists(border-width)				{$border-width:				$border_width;}


// Body
// -----------------------------------------------------------------------------
// Settings for the `<body>` element.
@if variable-exists(body-bg_color)				{$body-bg:					$body-bg_color;}
@if variable-exists(body-text_color)			{$body-color:				$body-text_color;}


// Links
// -----------------------------------------------------------------------------
// -> Style anchor elements.
@if variable-exists(link-text_color)			{$link-color:				$link-text_color;}
@if variable-exists(link-text_decoration)		{$link-decoration:			$link-text_decoration;}
@if variable-exists(link-text_color-hover)		{$link-hover-color:			$link-text_color-hover;}
@if variable-exists(link-text_decoration-hover)	{$link-hover-decoration:	$link-text_decoration-hover;}


// Grid breakpoints
// -----------------------------------------------------------------------------
// -> Define the minimum and maximum dimensions at which your layout will change,
//    adapting to different screen sizes, for use in media queries.


// Grid containers
// -----------------------------------------------------------------------------
// -> Define the maximum width of `.container` for different screen sizes.


// Grid columns
// -----------------------------------------------------------------------------
// -> Set the number of columns and specify the width of the gutters.
@if variable-exists(grid-gutter_width)		{$grid-gutter-width:		$grid-gutter_width;}


// Typography
// -----------------------------------------------------------------------------
// -> Font, line-height, and color for body text, headings, and more.
// Regular font family
@if variable-exists(fonts-sans-serif-stack)	{$font-family-sans-serif:	$fonts-sans-serif-stack;}
@if variable-exists(fonts-serif-stack)		{$font-family-serif:		$fonts-serif-stack;}
@if variable-exists(fonts-monospace-stack)	{$font-family-monospace:	$fonts-monospace-stack;}
@if variable-exists(fonts-headings-stack)	{$headings-font-family:		$fonts-headings-stack;}

@if variable-exists(font_size-base)			{$font-size-base:			$font_size-base;}
@if variable-exists(font_size-large)		{$font-size-lg:				$font_size-large;}
@if variable-exists(font_size-small)		{$font-size-sm:				$font_size-small;}
@if variable-exists(font_size-extrasmall)	{$font-size-xs:				$font_size-extrasmall;}

@if variable-exists(heading1-font_size)		{$font-size-h1:				$heading1-font_size;}
@if variable-exists(heading2-font_size)		{$font-size-h2:				$heading2-font_size;}
@if variable-exists(heading3-font_size)		{$font-size-h3:				$heading3-font_size;}
@if variable-exists(heading4-font_size)		{$font-size-h4:				$heading4-font_size;}
@if variable-exists(heading5-font_size)		{$font-size-h5:				$heading5-font_size;}
@if variable-exists(heading6-font_size)		{$font-size-h6:				$heading6-font_size;}


// Components
// -----------------------------------------------------------------------------
// -> Define common padding and border radius sizes and more.
//    Values based on 14px text and 1.428 line-height (~20px to start).
@if variable-exists(border_radius)			{$border-radius:			$border_radius;}

// Tables
// -----------------------------------------------------------------------------
// -> Customizes the `.table` component with basic values, each used across all table variations.


// Buttons
// -----------------------------------------------------------------------------
// -> For each of Bootstrap's buttons, define text, background and border color.


// Forms
// -----------------------------------------------------------------------------


// Form validation icons
// -----------------------------------------------------------------------------


// Dropdowns
// -----------------------------------------------------------------------------
// -> Dropdown menu container and contents.


// Z-index master list
// -----------------------------------------------------------------------------
// -> Warning: Avoid customizing these values. They're used for a bird's eye view
//    of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.


// Navbar
// -----------------------------------------------------------------------------
@if variable-exists(o-navbar_padding-x)		{$navbar-padding-x:		$o-navbar_padding-x;}
@if variable-exists(o-navbar_padding-y)		{$navbar-padding-y:		$o-navbar_padding-y;}
@if variable-exists(o-navbar-border_radius)	{$navbar-border-radius:	$o-navbar-border_radius;}


// Navs
// -----------------------------------------------------------------------------


// Pagination
// -----------------------------------------------------------------------------


// Pager
// -----------------------------------------------------------------------------


// Form states and alerts
// -----------------------------------------------------------------------------
// -> Define colors for form feedback states and, by default, alerts.

// Tooltips
// -----------------------------------------------------------------------------


// Popovers
// -----------------------------------------------------------------------------

// Labels
// -----------------------------------------------------------------------------


// Modals
// -----------------------------------------------------------------------------


// Padding applied to the modal body
// -----------------------------------------------------------------------------


// Alerts
// -----------------------------------------------------------------------------
// -> Define alert colors, border radius, and padding.


// Progress bars
// -----------------------------------------------------------------------------


// List group
// -----------------------------------------------------------------------------


// Image thumbnails
// -----------------------------------------------------------------------------


// Breadcrumbs
// -----------------------------------------------------------------------------


// Carousel
// -----------------------------------------------------------------------------


// Close
// -----------------------------------------------------------------------------


// Code
// -----------------------------------------------------------------------------
