// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
//
// Some of the variables will be transfered to the Bootstrap Variables file.
// -> This file is the only place we apply settings and variables
//
// To use the default values of a settings for Bootstrap, the variable can be
// safely remarked or deleted. 
// =============================================================================

// 1. Settings -> Global variables, config switches
// =============================================================================


// 1.1. Layout specific
// -----------------------------------------------------------------------------


// 1.2. Select Bootstrap modules
// -----------------------------------------------------------------------------


// 1.3. Select Font Awesome modules
// -----------------------------------------------------------------------------


// 2.0 Elements
// -----------------------------------------------------------------------------
$fonts-web:							'https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Ubuntu:500';

// Regular font family
// -> Goes to Bootstrap Variables
$fonts-sans-serif-stack:			Roboto,
									-apple-system,
									BlinkMacSystemFont,
									"Segoe UI",
									"Oxygen",
									"Cantarell",
									"Fira Sans",
									"Helvetica Neue",
									Arial,
									sans-serif;


// 2.1. Generic
// -----------------------------------------------------------------------------
// -> elements/_elements.bootstrap.scss

// Global background color
// -> Goes to Bootstrap Variables
$bg_color:							#2a2a2a;


// 3. Objects -> Cosmetic-free design patterns
// =============================================================================


// 4. Components -> Designed components, chunks of UI.
// =============================================================================

// The background image for the theme  
// -> No image: Remove variable or set it to 'none'
// -> Disabling an image from the main theme: set it to 'none'
$c-page-bg_image:					$site-path-images + '/backgrounds/pattern_dark.png';


// 4.1. Main navigation
// -----------------------------------------------------------------------------
// -> components/_components.region.navigation.scss


// 4.2. Main navigation - Dropdown menu
// -----------------------------------------------------------------------------
// -> components/_components.region.navigation.dropdown.scss


// 5.0. Utilities
// -----------------------------------------------------------------------------
// -> components/_components.utilities.scss


// 6. Trumps -> Helpers and overrides
// =============================================================================
