// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Common UI Components for the whole page
// -----------------------------------------------------------------------------

.c-page {
	// Background image
	@if variable-exists(c-page-bg_image) and $c-page-bg_image != none {
		background-image: url($c-page-bg_image);
	}
}
