// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Create some Font-Awesome classes used in <i> elements
// -----------------------------------------------------------------------------

// The icons we us in this project
// -> Copy your icons from the file /vendors/font-awesome/scss/_icons.scss
.#{$fa-css-prefix}-external-link:before	{content: $fa-var-external-link;}
.#{$fa-css-prefix}-facebook:before		{content: $fa-var-facebook;}
.#{$fa-css-prefix}-linkedin:before		{content: $fa-var-linkedin;}
.#{$fa-css-prefix}-rss:before			{content: $fa-var-rss;}
.#{$fa-css-prefix}-twitter:before		{content: $fa-var-twitter;}
.#{$fa-css-prefix}-external-link:before	{content: $fa-var-external-link;}
