// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// The UI Components for the region "navigation"
// -----------------------------------------------------------------------------

.c-region {
	&-navigation {
	}
}

.c-navbar {
	// Remove the border radius from the navbar if the region itself has a border
	@if variable-exists(c-regions-border_color) and $c-regions-border_color != none {
		@include remove-border-radius();
	}

	// Set the background color
	@if variable-exists(c-region-navigation-bg_color) and $c-region-navigation-bg_color != none {
		background-color: $c-region-navigation-bg_color;
	}

	// Apply a nice gradient
	@if variable-exists(c-region-navigation-bg_color) and $c-region-navigation-bg_color != none and
						variable-exists(c-navbar-bg_color-gradient) and $c-navbar-bg_color-gradient != none {
		@include gradient-y($c-navbar-bg_color-gradient, $c-region-navigation-bg_color, 0%, 100%);
	}
}
