// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// UI Components for the region "main"
// -----------------------------------------------------------------------------

.c-region {
	&-main {
		// Set an optional background color
		@if variable-exists(c-region-main-bg_color) {
			background-color: $c-region-main-bg_color;
		}
	}
}
