// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Scroll to top
// -----------------------------------------------------------------------------

.u-scroll-top {
	display: inline-block;
	position: fixed;

	// Default sizes, bottom up
	height: 2.0rem;
	width: 2.0rem;

	// Default positions, bottom up
	right: 1.0rem;
	bottom: 1.0rem;

	@include media-breakpoint-up(sm) {
		bottom: 4.0rem;
	}

	@include media-breakpoint-up(md) {
		height: 2.5rem;
		width: 2.5rem;
		bottom: 6.0rem;
	}

	@include media-breakpoint-up(lg) {
		//height: 3.0rem;
		//width: 3.0rem;
		right: 2.5rem;
	}

	// Global layout option: Add borders
	@include make-border($border_width, $u-scroll-top-border_color);

	// Global layout option: Add rounded corners
	@include make-border-radius($border_radius);

	// Image replacement properties
	overflow: hidden; 
	text-indent: 100%;
	white-space: nowrap;

	background: $u-scroll-top-bg_color url(../images/scroll-top-arrow.svg) no-repeat center 50%;

	visibility: hidden;
	opacity: 0;

	// We don't know, how the default link looks like.
	// -> Remove all unneeded formattings
	&:visited,
	&:hover,
	&:active {
		text-decoration: none;
		// This removes the dotted box around the link, which is usualy not allowed.
		// -> In this case, it makes sense
		outline: 0;
	}

	// The button is visible
	&_is-visible {
		visibility: visible;
		opacity: 1;
	
		// Transition if the button become visible
		@if variable-exists(u-scroll-top_fadein-transition) {
			transition: $u-scroll-top_fadein-transition;
		}

		&:hover {
			background-color: $u-scroll-top-hover-bg_color;

			// Transition at hovering
			@if variable-exists(u-scroll-top-hover_transition) {
				transition: $u-scroll-top-hover_transition;
			}
		}
	}
}
