// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Common UI Components for all regions.
// -----------------------------------------------------------------------------

// All regions have this class. 
.c-region {
	// Set an optional border
	@if not $site-enable-fluid and variable-exists(c-regions-border_color) and $c-regions-border_color != none {
		border-left: 1px solid $c-regions-border_color;
		border-right: 1px solid $c-regions-border_color;
	}
}
