// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// UI Components for the region "header"
// -----------------------------------------------------------------------------

.c-region {
	&-header {
		// Set an optional background color
		@if variable-exists(c-region-header-bg_color)  {
			background-color: $c-region-header-bg_color;
		}
	}
}

.c-brand-logo {
	@if variable-exists(c-region-header-logo-url) and $c-region-header-logo-url != none {
		// Add a minimum height
		// -> Makes also a distance to the navigation below
		min-height: 5.5rem;

		background: url($c-region-header-logo-url);
		background-repeat: no-repeat;
	}	
}
