// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Common UI Components/Utilities
// -----------------------------------------------------------------------------

// This classes are useful for an additional horizontal navigation somewhere
// Each navigation item is separated by a "|"
.u-nav-list {
	// Remove paddings and let the bullets disappear
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		// Create the navigation
		@include make-delimited-nav-list(0.25rem, $link-text_color);
	}
}

.u-link-inverted {
	// This mixin create the pseudo elements focus and hover
	@include hover-focus {
		background-color: $u-link-inverted-bg_color-hover;
		color: $u-link-inverted-text_color-hover;
		text-decoration: none;
	}

	// This padding gives a bit distance between the hover color and the text.
	@if variable-exists(u-link-inverted-padding) and $u-link-inverted-padding != 0 {
		padding-left: $u-link-inverted-padding;
		padding-right: $u-link-inverted-padding;
	}
}
