// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Objects for the region "navigation"
// -----------------------------------------------------------------------------

.o-region {
	&-navigation {
		// Remove the paddings left and right to align the borders
		padding-left: 0rem;
		padding-right: 0rem;
	}
}

.o-navbar {
	// If we have a fluid layout, the navbar needs some update.
	// -> This is a copy of Bootstraps class ".navbar-full"
	@if variable-exists(site-enable-fluid) and $site-enable-fluid {
		// A static, full width modifier. 
		z-index: $zindex-navbar;
	}
}
