// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Objects for the region "main"
// -----------------------------------------------------------------------------

.o-region {
	&-main {
		// Make some distance to the region navigation
		// -> margin-top does not work, would cut the background ann border
		padding-top: $spacer-medium;
	}
}
