// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// Objects for the region "header"
// -----------------------------------------------------------------------------

.o-region {
	&-header {
		// Make a distance to the top.
		// -> margin-top does not work, would cut the background and border
		padding-top: $spacer-medium;
	}
}

.o-header-wrapper {
	&-navigation {
		// The clearfix let the search box stay underneath the navigation on small
		// screen sizes.
		@include clearfix();

		margin-bottom: $spacer-medium;

		@include media-breakpoint-up(md) {
			// The navigation aligns right
			float: right;
			// The search form aligns right
			text-align: right;
		}
	}
}
