// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
//  This files creates the *outer grids* for the "regions"
// -> This are the **most outer grid** of ANY page
// -> These grids must be assigned only ONCE per page
// -----------------------------------------------------------------------------

// Create the main outer grids
// -----------------------------------------------------------------------------
.o-grid {
	&-header,
	&-main,
	&-footer {
		// Make the rows
		@include make-row();
	}

	// Create the columns for the grids above
	// -------------------------------------------------------------------------
	&-header {
		&__col {
			@include make-columns($o-region-header-column-ratio, -branding -banner -navigation, false);
		}
	}

	&-main {
		&__col {
			// Content left | Sidebar right
			@include make-columns($o-region-main-column-ratio, -content -sidebar, false);
			// Content right | Sidebar left
			@include make-columns($o-region-main-column-ratio, -content-swap -sidebar-swap, true);
		}
	}

	&-footer {
		&__col {
			@include make-columns($o-region-footer-column-ratio, -navigation -content -social, false);
		}
	}
}
