// =============================================================================
//                (c) Copyright 2016 by netfusion GmbH, Küsnacht             
// =============================================================================
// Version   : 0.1.1
// Created at: 01.02.16 by: Martin Schaible
// Project   : Skeleton Bootstrap 4 | ITCSS | BEM | Namespaces
// -----------------------------------------------------------------------------
// This is the place, where Bootstraps elements will be overwritten or extendend
// -> Use this only, if no other choice is left.
// -----------------------------------------------------------------------------

// Extend existing bootstrap class
// -> Change the letter spacing for the headings
@if variable-exists(heading-text_spacing) {
	h1,
	h2,
	h3,
	h4,
	.h1,
	.h2,
	.h3,
	.h4 {
		letter-spacing: $heading-text_spacing;
	}
}

// Extend existing bootstrap class
// -> Add an icon to an anchor to point out external links
p {
	a[href^="https://"]:after,
	a[href^="http://"]:after {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: none;
		padding-left: 8px;
		padding-right: 5px;
		content: $fa-var-external-link;
	}
}
